.contact-container {
  padding: 20px;
  max-width: auto;
  margin: auto;
}

.contact-heading {
  font-size: 28px;
  margin-bottom: 20px;
}

.top-controls {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
}

.desktop-table {
  display: block;
}

.mobile-cards {
  display: none;
}

/* Mobile layout */
@media (max-width: 768px) {
  .desktop-table {
    display: none;
  }

  .mobile-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .card {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
  }

  .card p {
    margin: 6px 0;
    word-wrap: break-word;
    font-size: 14px;
  }
}
